    {% load i18n %}
    <div class="text-start text-secondary">{% trans "Prices in €/kg" %}</div>
<footer>
  <hr/>
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        ALKU GmbH Hans-Böckler-Straße 6 93142 Maxhütte-Haidhof Deutschland
      </p>
    </div>
  </div>
  <div class="row text-center">
    <p>
      <strong>e-mail:</strong>
      {% if logged_user.clientAdmin.userEmail %}
      {{logged_user.clientAdmin.userEmail}} {% else %}
      {{logged_user.userEmail}} {% endif %}
      <strong>tel:</strong>
      {% if logged_user.clientAdmin.userEmail%}
      {{logged_user.clientAdmin.userTelephoneNumber}} {% else %}
      {{logged_user.userTelephoneNumber}} {% endif %}
    </p>
  </div>
</footer>
