<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}document{% endblock %}</title>
    {% load i18n %}
    <style>
        .watermark {
            background-image: url("{{ images_root }}/images/logo-alku-hires.png"); /* Absolute path */
        }
    </style>
</head>
<body>
<div class="watermark"></div>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-9">
            <img src="{{ images_root }}/images/alku-logo-2013-10-17.jpg" alt="ALKU-GMBH" class="img"/>
        </div>
        <!-- <div class="col-3 pe-2"> -->
        <!--     <h1>Final</h1> -->
        <!-- </div> -->
    </div>

</div>
<hr>
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h4>{{ transaction.client.clientCompanyName }}</h4>
            <h4>{{ transaction.client.clientStreet }}</h4>
          <h4>{{ transaction.client.clientCode }} {{ transaction.client.clientCity }}</h4>
            <h4>{{ transaction.client.clientCountry }}</h4>
        </div>
        <div class="col-6 text-end">
            <h3 class="fw-semibold">{% trans "Delivery date" %}:</h3>
            <p>{{ transactionDetails.informations.delivery_date }}</p>
        </div>
    </div>
    <div class="text-end">
                <h4 class="fw-semibold">{% trans "Final of " %}{{ date|date:"d-m-Y H:i" }}</h4>
                <p class="fw-semibold text-info">{% trans "To prognose of " %}{{ prognose_date|date:"d-m-Y H:i" }}</p>
    </div>

    <table class="table table-bordered mt-2 mb-6 table-striped">
        <thead>
        <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">{% trans "SKU" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Amount [kg]" %}</th>
            <th scope="col">{% trans "Alku [kg]" %}</th>
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "Total" %}</th>
        </tr>
        </thead>
        <tbody class="tbody-text">
        {% for item in transaction.itemsOrdered %}
            <tr>
                <td>
                    <img class="py-1 img" src="{{ base_url }}/images/{{ item.sku }}.M.jpg" alt=""
                        style="width: 50px; height: auto; vertical-align: middle;"/>
                </td>
                <td class="px-1">{{ item.sku }}</td>
                <td class="text-start px-1">{{ item.name }}</td>
                <td class="unit text-end px-1">{{ item.amount }}</td>
                <td class="unit text-end px-1">{{ item.alku }}</td>
                <td class="unit text-end px-1">{{ item.price }}</td>
                <td class="unit text-end px-1">{{ item.total|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-5"><p class="paragraph">
        {{ transaction.informations.transaction_info }}</p></div>
    <hr>
    <div class="row my-2 fs-6">
        <div class="col-4">
            <p><b>{% trans "Declared weight" %}: </b></p>
            <p><b>{% trans "Confirmed weight" %}:</b></p>
        </div>
        <div class="col-2">
            <p class="text-end pe-2">{{ total.mass|floatformat:1 }} kg</p>
            <p class="text-end pe-2">{{ total.alku|floatformat:1 }} kg</p>
        </div>
        <div class="col-4">
                    <p><b>{% trans "Delivery value (declared)" %}: </b></p>
                    <p><b>{% trans "Delivery value" %}: </b></p>
        </div>
        <div class="col-2">
            <p class="text-end pe-1">{{ total.price }} €</p>
            <p class="text-end pe-1">{{ total.alku_price }} €</p>
        </div>
    </div>
    {% include "pdf_footer.html" %}
    <hr>
    <div class="text-center">
        <p class="paragraph">{% trans "Thank you for your cooperation!" %}</p>
    </div>
</div>
</body>
</html>
