<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}document{% endblock %}</title>
    {% load i18n %}
</head>
<body>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-9">
            <img src="{{ images_root }}/images/alku-logo-2013-10-17.jpg" alt="ALKU-GMBH" class="img"/>
        </div>
        <div class="col-3 pe-2">
            <h1>Prognose</h1>
        </div>
    </div>
</div>
<hr>
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <h4>{{ transaction.client.clientCompanyName }}</h4>
            <h4>{{ transaction.client.clientStreet }}</h4>
            <h4>{{ transaction.client.clientCode }}</h4>
            <h4>{{ transaction.client.clientCity }}</h4>
            <h4>{{ transaction.client.clientCountry }}</h4>
        </div>
        <div class="col-6 text-end">
            <h3 class="fw-semibold">Delivery date:</h3>
            <p>{{ transactionDetails.informations.delivery_date}}</p>
            <p>{{ transactionDetails.informations.delivery_info}}</p>
            <div class="row text-center">
                <div class="col-6">

                </div>
                <div class="col-6 text-center mt-4">
                    {% if transactionDetails.plates %}
                    <h4>Plates</h4>
                    {% for plate in transactionDetails.plates %}
                        <p style="border: 1px solid black">{{ plate }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <p class="head"><strong>{% trans "Shipping costs" %}:</strong> <b class="unit">{{ transactionDetails.transportCost|floatformat:2 }} €</b></p>
            <p class="head"><strong>{% trans "Transport cost per kg" %}:</strong> <b class="unit">{{ transport.transportPerKg|floatformat:2 }} €</b></p>
            <p class="head"><strong>{% trans "Transport costs as a percentage of delivery value" %}:</strong> <b class="unit">{{ transport.transportPerKg|floatformat:2 }}%</b></p>
        </div>
    </div>

    <div class="text-end mt-4">
            <h4 class="fw-semibold">{% trans "Prognose of " %}{{ date|date:"d-m-Y H:i" }}</h4>
    </div>

    <table class="table table-bordered mt-2 mb-3 table-striped">
        <thead>
        <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">{% trans "SKU" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "With transport" %}</th>
            <th scope="col">{% trans "Total" %}</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for item in transaction.itemsOrdered %}
            <tr>
                <td>
                    <img class="py-1" src="{{ base_url }}/images/{{ item.sku }}.M.jpg" alt="" class="img"
                        style="width: 50px; height: auto; vertical-align: middle;"/>
                </td>
                <td>{{ item.sku }}</td>
                <td>{{ item.name }}</td>
                <td class="unit text-end">{{ item.amount }} kg</td>
                <td class="unit text-end">{{ item.price }} €</td>
                <td class="unit text-end">{{ item.price_per_kg|floatformat:2 }} €</td>
                <td class="unit text-end">{{ item.total|floatformat:2 }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {{ transactionDetails.informations.prognose_info }}
    </div>

    <hr>
    <div class="row my-2 fs-6">
        <div class="col-4">
            <p class="unit"><b>{% trans "Declared weight" %}: </b></p>
        </div>
        <div class="col-2">
            <p class="text-end pe-2">{{ total.mass }} kg</p>
        </div>
        <div class="col-4">
                    <p class="unit"><b>{% trans "Delivery value" %}: </b></p>
                    <p><b>{% trans "Delivery value incl. transport costs" %}: </b> </p>
        </div>
        <div class="col-2">
            <p class="text-end pe-1">{{ total.price }} €</p>
            <p class="text-end pe-1 align-text-bottom"><span class="unit">{{ total.wTransport|floatformat:2 }} €</span></p>
        </div>
    </div>
    {% include "pdf_footer.html" %}
</div>
</body>
</html>
