<div class="fixed-bottom">
  <hr />
  <div class="row">
    <div class="col-12">
      <p class="text-center">
        ALKU GmbH Hans-Böckler-Straße 6 93142 Maxhütte-Haidhof Deutschland
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-4">
      <p><strong>E-mail:</strong> pawel.zubrzycki@alku-gmbh.de</p>
    </div>
    <div class="col-4">
      <p><strong>Tel:</strong> +49 151 21402684</p>
    </div>
    <div class="col-4">
      <p><strong>Fax:</strong> +49 9471 60194 20</p>
    </div>
  </div>
</div>
