<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{% block title %}{{ filename }}{% endblock %}</title>
    {% load i18n %}
    <style>
        .watermark {
            background-image: url("{{ images_root }}/images/logo-alku-hires.png"); /* Absolute path */
        }
    </style>
</head>
<body>
<div class="watermark"></div>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-9">
            <img src="{{ images_root }}/images/alku-logo-2013-10-17.jpg" alt="ALKU-GMBH" class="img"/>
        </div>
    </div>
</div>
<hr>
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            {% include "pdf_client.html" %}
        </div>
        {% if auth_group != "LOGISTICS" %}
        <div class="col-6 text-end">
            <h3 class="fw-semibold">Delivery date:</h3>
            <p>{{ transactionDetails.informations.delivery_date}}</p>
            <p>{{ transactionDetails.informations.delivery_info}}</p>
            <div class="row text-center">
                <div class="col-6">

                </div>
                <div class="col-6 text-center mt-4">
                    {% if transactionDetails.plates %}
                    <h4>Plates</h4>
                    {% for plate in transactionDetails.plates %}
                        <p style="border: 1px solid black">{{ plate }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <p class="head"><strong>{% trans "Shipping costs" %}:</strong> <b class="unit">{{ transactionDetails.transportCost|floatformat:2 }} €</b></p>
            <p class="head"><strong>{% trans "c/k" %}:</strong> <b class="unit">{{ transport.transportPerKg|floatformat:2 }} €</b>
            <strong>{% trans "c/v" %}:</strong> <b class="unit">{{ transport.transportPercent|floatformat:2 }}%</b></p>
        </div>
        {% endif %}
    </div>

    <div class="text-end mt-4">
            <h4 class="fw-semibold">{% trans "Prognose of" %} {{ date|date:"d-m-Y H:i" }}</h4>
    </div>

    <table class="table table-bordered mt-2 mb-6 table-striped">
        <thead class="text-head">
        <tr class="text-center">
            <th scope="col"></th>
            <th scope="col">{% trans "SKU" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
        {% if auth_group != "LOGISTICS" %}
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "Total" %}</th>
        {% endif %}
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for item in transaction.itemsOrdered %}
            <tr>
                <td>
                    <img class="py-1 img" src="{{ base_url }}/images/{{ item.sku }}.M.jpg" alt="" class="img"
                        style="width: 50px; height: auto; vertical-align: middle;"/>
                </td>
                <td class="px-1">{{ item.sku }}</td>
                <td class="px-1 text-start">{{ item.name }}</td>
                <td class="unit text-end px-1">{{ item.amount }}</td>
        {% if auth_group != "LOGISTICS" %}
                <td class="unit text-end px-1">{{ item.price }}</td>
                <td class="unit text-end px-1">{{ item.total|floatformat:2 }} €</td>
        {% endif %}
                <td class="px-1 text-start">
                {% if item.additionalInfo and item.additionalInfo|length < 15 %}
                    {{ item.additionalInfo }}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="row my-2 fs-6">
        <div class="col-4">
            <p class="unit"><b>{% trans "Declared weight" %}: </b></p>
        </div>
        <div class="col-2">
            <p class="text-end pe-2">{{ total.mass }} kg</p>
        </div>
        {% if auth_group != "LOGISTICS" %}
        <div class="col-4">
                    <p class="unit"><b>{% trans "Delivery value" %}: </b></p>
                    <p><b>{% trans "Delivery value incl. transport costs" %}: </b> </p>
        </div>
        <div class="col-2">
            <p class="text-end pe-1">{{ total.price }} €</p>
            <p class="text-end pe-1"><span class="unit">{{ total.wTransport|floatformat:2 }} €</span></p>
        </div>
        {% endif %}
    </div>
    {% if transaction.description %}
        <hr />
        <div class="mt-5 paragraph">{{ transaction.description }}</div>
    {% endif %}
    {% for item in transaction.itemsOrdered %}
            {% if item.additionalInfo|length >= 15 %}
            <p class="text-start">{{ item.sku }}: {{ item.additionalInfo }}</p>
            {% endif %}
    {% endfor %}
{% if auth_group != "LOGISTICS" %}
<div class="pt-5">
    <p class="text-info">{% trans "c/k - transport cost per kg" %}
    {% trans "c/v - transport cost per delivery value" %}</p>
</div>                   
{% endif %}
    {% include "pdf_footer.html" %}
</div>
</body>
</html>
