<div class="m-0 p-0">
  {% if transaction.client %}
  <div class="fw-bold client-company">
    {{ transaction.client.clientCompanyName }}
  </div>
  <div class="mx-0 client-address">
    {{ transaction.client.clientStreet }}<br />
    {{ transaction.client.clientCode }} {{ transaction.client.clientCity }}<br />
    {{ transaction.client.clientCountry }}<br />
  </div>
  {% else %}
  <div class="fw-bold client-company">{{ transaction.clientName }}</div>
  <div class="mx-0 client-address">
    {{ transaction.clientAddress|linebreaksbr }}
  </div>
  {% endif %}
</div>
