Pricelist/__pycache__
front/__pycache__
front/migrations/__pycache__
db.sqlite3
.idea
.vscode
status
ips
images/*
admin/__pycache__
.venv
transactions/migrations/__init__.py
transactions/__pycache__
.env
pdfgenerator/__pycache__
.idea
