* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
}

h1{
    color: #9D1006;
    font-weight: 700;
}

.recycle{
    color: #9D1006;
    font-weight: 650;
}

.paragraph{
    color: #9D1006;
}

.head strong{
    color: #9D1006;
}