* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
}

.card-title {
  font-weight: 600;
}

.navbar {
  border-bottom: 1px solid black;
}

.container h1 {
  color: #9d1006;
  font-weight: 700;
}

.alert-custom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050; /* Ensure it appears above other elements */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}

