{% extends 'base.html' %}
{% load i18n %}
{% block title %}Transaction{% endblock %}
{% block content %}
<div class="container text-center">
    <form id="edit-form" method="post">
    <div class="container">
        <div class="row text-start float-start">
          <button
            class="btn btn-sm btn-outline-danger mb-4"
            onclick="history.back()"
          >
                {% trans "Go back" %}
          </button>
        </div>
        <div class="clearfix"></div>
        <div class="row text-start">{{ transaction.client.clientCompanyName }}</div>
        <div class="row text-start">{{ transaction.client.clientStreet }}</div>
        <div class="row text-start">{{ transaction.client.clientCode }} {{ transaction.client.clientCity }}</div>
        <div class="row text-start">{{ transaction.client.clientCountry }}</div>
        <div class="row text-start"><b class="text-start p-0">{% trans "Status" %}:</b> {% if transaction.status %}{{ transaction.status }} {{ transaction.status_time|date:"d-m-Y H:i" }}{% else %}{% trans "No status" %}{% now "d-m-Y H:i" %}{% endif %}</div>
        <div class="row text-start ">
          <div class="col float-start ps-0">
            <a href="/transactions/admin/{{ transaction.uuid }}/add-item/"
                class="btn btn-sm btn-outline-success mt-2 mb-2">
                    {% trans "Add item" %}
            </a>
            </div>
            {% if transaction.status == "PROGNOSE" %}
            <div class="col-md-4 float-end text-end">
                <h5 class="fw-bold">{% trans "Delivery" %}</h5>
                <p class="mb-2" style="white-space: nowrap;"><strong>{% trans "Date" %}: </strong>{{ transactionDetails.informations.delivery_date }}</p>
                <p class="mb-2" style="white-space: nowrap;"><strong>{% trans "Price" %}: </strong>{{ transactionDetails.transportCost }} €</p>
                    {% if transactionDetails.plates %}
                    <div class="mt-2">
                    <h6 class="fw-semibold">{% trans "Plates:" %}</h6>
                    <ul class="list-group list-group-flush">
                        {% for plate in transactionDetails.plates %}
                            <li class="list-group-item p-1">{{ plate }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="mt-2">{{ transactionDetails.informations.delivery_info }}</p>
                    </div>
            </div>
            {% endif %}
            {% if transaction.status == "FINAL" %}
            <div class="col-md-4 float-end text-end">
                <p class="mb-2"><strong>{% trans "Delivery date" %}: </strong>{{ transactionDetails.informations.delivery_date }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col" class="col-xs-2">{% trans "SKU" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            {% if transaction.status == "FINAL" %}
            <th scope="col">{% trans "Alku" %}</th>
            {% endif %}
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "Total" %}</th>
            <th scope="col">{% trans "Comment" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if transaction.itemsOrdered %}
            {% for item in transaction.itemsOrdered %}
                <tr>
                    {% csrf_token %}
                    <td><img style="width: 80px; height: auto; vertical-align: middle;" src="/images/{{ item.sku }}.M.jpg"></td>
                    <td class="col-xs-2"><input name="sku-{{ item.uuid }}" id="sku-{{ item.uuid }}" class="form-control" type="text" value="{{ item.sku }}"/></td>
                    <td><input name="name-{{ item.uuid }}"  id="name-{{ item.uuid }}" class="form-control" type="text" value="{{ item.name }}"/></td>
                    <td>
                        <div class="input-group">
                            <input name="amount-{{ item.uuid }}"  id="amount-{{ item.uuid }}" class="form-control"
                                type="number" min="0.1" step="0.1" value="{{ item.amount }}"
                                onchange="calculateTotal('{{ item.uuid }}')"/>
                            <span class="input-group-text">kg</span>
                        </div>
                    </td>
                    {% if transaction.status == "FINAL" %}
                    <td>
                        <div class="input-group">
                            <input name="alku-{{ item.uuid }}" id="alku-{{ item.uuid }}" class="form-control"
                                type="number" min="0.1" step="0.1" value="{{ item.amount }}"
                                onchange="calculateTotal('{{ item.uuid }}')"/>
                            <span class="input-group-text">kg</span>
                        </div>
                    </td>
                    {% endif %}
                    <td>
                        <div class="input-group">
                            <input name="price-{{ item.uuid }}" id="price-{{ item.uuid }}" class="form-control"
                                type="number" min="0.01" step="0.01" value="{{ item.price }}"
                                onchange="calculateTotal('{{ item.uuid }}')"/>
                            <span class="input-group-text">€</span>
                        </div>
                    </td>
                    <td style="white-space: nowrap;"><span id="total-{{ item.uuid }}">{{ item.total }}</span> €</td>
                    {% if item.additionalInfo %}
                    <td id="additionalInfo-{{ item.uuid }}">{{ item.additionalInfo }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                        <a class="btn btn-outline-secondary" href="/transactions/admin/{{transaction.uuid}}/{{item.uuid}}/edit/">Edit</a>
                        <a class="btn btn-outline-danger" onclick="event.stopPropagation(); return confirm('{% trans "Are you sure you want to delete this item?" %}');" href="/transactions/admin/{{transaction.uuid}}/{{item.uuid}}/delete/">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
                <div class="alert alert-danger">
                    {% trans "No items in the transaction" %}
                </div>
        {% endif %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bold" style="white-space: nowrap;"><span id="totalAmount">{{ totals.mass }}</span> kg</td>
                {% if transaction.status == "FINAL" %}
                <td class="fw-bold" style="white-space: nowrap;"><span id="totalAlku"></span></td>
                {% endif %}
                <td></td>
                <td class="fw-bold" style="white-space: nowrap;"><span id="totalPrice">{{ totals.price }}</span> €</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <input id="saveButton" class="btn btn-success" style="display: none;" type=submit value="{% trans "Save changes" %}">
    <a class="btn btn-outline-primary" href="/transactions/{{transaction.uuid}}/change-status/">{% trans "Change status" %}</a>
    <a class="btn btn-outline-secondary" href="/transactions/{{transaction.uuid}}/print/">{% trans "Print" %}</a>
    </form>
</div>
<script>
        function calculateTotal(uuidChanged) {
            let allTotalPrice = 0.0, allTotalAmount = 0.0, allTotalAlku = 0.0;
            let amount = parseFloat(document.getElementById(`amount-${uuidChanged}`).value) || 0;
            let pricePerKg = parseFloat(document.getElementById(`price-${uuidChanged}`).value) || 0;
            {% if transaction.status == "FINAL" %}
            let alku = parseFloat(document.getElementById(`alku-${uuidChanged}`).value) || 0;
            document.getElementById(`total-${uuidChanged}`).textContent = (alku * pricePerKg).toFixed(2);
            {% else %}
            document.getElementById(`total-${uuidChanged}`).textContent = (amount * pricePerKg).toFixed(2);
            {% endif %}

            uuids.forEach(uuid => {
                let amount = parseFloat(document.getElementById(`amount-${uuid}`).value) || 0;
                {% if transaction.status == "FINAL" %}
                let alku = parseFloat(document.getElementById(`alku-${uuid}`).value) || 0;
                {% endif %}
                let pricePerKg = parseFloat(document.getElementById(`price-${uuid}`).value) || 0;
                {% if transaction.status == "FINAL" %}
                allTotalPrice += alku * pricePerKg;
                allTotalAlku += alku
                {% else %}
                allTotalPrice += amount * pricePerKg;
                {% endif %}
                allTotalAmount += amount;
            });

            document.getElementById(`totalPrice`).textContent = allTotalPrice.toFixed(2);
            document.getElementById(`totalAmount`).textContent = allTotalAmount.toFixed(1);
            {% if transaction.status == "FINAL" %}
            document.getElementById(`totalAlku`).textContent = allTotalAlku.toFixed(1);
            {% endif %}
        }

        const uuids = [{% for item in transaction.itemsOrdered %}"{{ item.uuid }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
        window.onload = () => uuids.forEach(uuid => calculateTotal(uuid));

        document.addEventListener("DOMContentLoaded", function () {
            const inputs = document.querySelectorAll("input, textarea");
            const saveButton = document.getElementById("saveButton");
            const form = document.getElementById("edit-form");

            inputs.forEach(input => {
                input.addEventListener("input", () => {
                    saveButton.style.display = "inline-block";
                });
            });

            form.addEventListener("submit", function (event) {
                if (!confirm("{% trans "Are you sure you want to save changes?" %}")) {
                    event.preventDefault();
                }
            });
        });


</script>
{% endblock %}
