{% extends 'base.html' %}
{% load i18n %}
{% block title %}Transaction List{% endblock %}
{% block content %}
  <button
    class="btn btn-sm btn-outline-danger float-start mb-4"
    onclick="history.back()"
  >
    Go back
  </button>
<div class="container text-center">
    <div class="container">
        <div class="row text-left">{{order.client.clientCompanyName}}</div>
        <div class="row text-left">{{order.client.clientStreet}}</div>
        <div class="row text-left">{{order.client.clientCode}} {{ order.client.clientCity }}</div>
        <div class="row text-left">{{order.client.clientCountry}}</div>
        <div class="row text-right">{% if order.status %}{{ order.status_time }}{% else %}data{% endif %}</div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{% trans "SKU" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "Total" %}</th>
            <th scope="col">{% trans "Comment" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if order %}
            {% for item in order.orderItemsOrdered %}
            <tr>
                <td>{{ item.itemOrderedSku }}</td>
                <td>{{ item.itemOrderedName }}</td>
                <td>{{ item.itemOrderedAmount }}</td>
                <td>{{ item.itemOrderedPrice }}</td>
                <td>Price * Amount</td>
                {% if item.itemOrderedAdditionalInfo %}
                    <td>{{ item.itemOrderedAdditionalInfo }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-outline-secondary" href="/order/admin/{{item.sku}}/edit/">Edit</a>
                    <a class="btn btn-outline-danger" href="/order/admin/{{item.sku}}/delete/">Delete</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
                <div class="alert alert-danger">
                    {% trans "Error" %}
                </div>
        {% endif %}
        </tbody>
    </table>

    

</div>
{% endblock %}
