{% extends 'base.html' %}
{% load i18n %}
{% block title %}Transaction List{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1 class="text-center">{% trans 'Transaction list' %}</h1>
        <div class="d-flex justify-content-start">
            <button class="btn btn-outline-danger mb-4 mt-3" onclick="history.back()">Go back</button>
        </div>
        <div class="table-responsive">
            {% if request.session.auth.group == "LOGISTICS" %}
            <table class="table table-hover table-striped">
            {% else %}
            <table class="table table-striped">
            {% endif %}
                <thead>
                <tr>
                    <th scope="col">{% trans "Company name" %}</th>
                    <th scope="col">{% trans "Transaction initialization" %}</th>
                    <th scope="col">{% trans "Transaction last change" %}</th>
                    <th scope="col">{% trans "Transaction status" %}</th>
                    <th scope="col">{% trans "Actions" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in page.content %}
                {% if request.session.auth.group == "LOGISTICS" %}
                    <tr style="cursor: pointer" onclick="window.location.href='/transactions/{{ transaction.uuid }}/';">
                {% else %}
                    <tr>
                {% endif %}
                    {# TODO: check no registered client #}
                    {% if transaction.client_company_name %}
                    <td>{{ transaction.client_company_name }}</td>
                    {% else %}
                    <td>{{ transaction.client_header }}</td>
                    {% endif %}
                    <td>{{ transaction.init_time|date:"d-m-Y" }}</td>
                    <td>{{ transaction.status_time |date:"d-m-Y" }}</td>
                    <td>{{ transaction.status }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/files/{{ transaction.uuid }}/">{% trans "Files" %}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "pagination.html" %}
    </div>
{% endblock %}
