{% extends 'base.html' %}
{% load i18n %}
{% block title %}Transaction{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="container">
        {# TODO: this button should be on the left side #}
        <div class="row text-start float-start">
          <button
            class="btn btn-sm btn-outline-danger mb-4"
            onclick="history.back()"
          >
                {% trans "Go back" %}
          </button>
        </div>
        <div class="clearfix"></div>
        <div class="row text-start">{{ transaction.client.clientCompanyName }}</div>
        <div class="row text-start">{{ transaction.client.clientStreet }}</div>
        <div class="row text-start">{{ transaction.client.clientCode }} {{ transaction.client.clientCity }}</div>
        <div class="row text-start">{{ transaction.client.clientCountry }}</div>
        <div class="row text-start"><b class="text-start p-0">{% trans "Status" %}:</b> {% if transaction.status %}{{ transaction.status }} {{ transaction.status_time|date:"d-m-Y H:i" }}{% else %}{% trans "no status" %}{% now "d-m-Y H:i" %}{% endif %}</div>
        <div class="row text-start ">
          <div class="col float-start ps-0">
            <a href="/transactions/admin/{{ transaction.uuid }}/add-item/"
                class="btn btn-sm btn-outline-success mt-2 mb-2">
                {% trans "Add item" %}
            </a>
          </div>
            {% if transaction.status == "PROGNOSE" %}
            <div class="col-md-4 float-end text-end">
                <h5 class="fw-bold">{% trans "Delivery" %}</h5>
                <p class="mb-2"><strong>{% trans "Date" %}: </strong>{{ transactionDetails.informations.delivery_date }}</p>
                    {% if transactionDetails.plates %}
                    <div class="mt-2">
                    <h6 class="fw-semibold">{% trans "Plates:" %}</h6>
                    <ul class="list-group list-group-flush">
                        {% for plate in transactionDetails.plates %}
                            <li class="list-group-item p-1">{{ plate }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="mt-2">{{ transactionDetails.informations.delivery_info }}</p>
                    </div>
            </div>
            {% endif %}
            {% if transaction.status == "FINAL" %}
            <div class="col-md-4 float-end text-end">
                <p class="mb-2"><strong>{% trans "Delivery date" %}: </strong>{{ transactionDetails.informations.delivery_date }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col">{% trans "SKU" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            {% if transaction.status == "FINAL" %}
            <th scope="col">{% trans "Alku" %}</th>
            {% endif %}
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "Total" %}</th>
            <th scope="col">{% trans "Comment" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if transaction.itemsOrdered %}
            {% for item in transaction.itemsOrdered %}
            <tr>
                <td><img style="width: 80px; height: auto; vertical-align: middle;" src="/images/{{ item.sku }}.M.jpg"></td>
                <td>{{ item.sku }}</td>
                <td>{{ item.name }}</td>
                <td style="white-space: nowrap;">{{ item.amount }} kg</td>
                {% if item.alku %}
                <td style="white-space: nowrap;">{{ item.alku }} kg</td>
                {% endif %}
                <td style="white-space: nowrap;">{{ item.price }} €</td>
                <td style="white-space: nowrap;">{{ item.total }} €</td>
                {% if item.additionalInfo %}
                    <td>{{ item.additionalInfo }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-outline-secondary" href="/transactions/admin/{{transaction.uuid}}/{{item.uuid}}/edit/">Edit</a>
                    <a class="btn btn-outline-danger" onclick="event.stopPropagation(); return confirm('{% trans "Are you sure you want to delete this item?" %}');" href="/transactions/admin/{{transaction.uuid}}/{{item.uuid}}/delete/">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
                <div class="alert alert-danger">
                    {% trans "No items in the transaction" %}
                </div>
        {% endif %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bold" style="white-space: nowrap;">{{ transaction.totals.mass }} kg</td>
                {% if transaction.status == "FINAL" %}
                <td class="fw-bold" style="white-space: nowrap;">{{ transaction.totals.alku }} kg</td>
                {% endif %}
                <td></td>
                <td class="fw-bold" style="white-space: nowrap;">{{ transaction.totals.price }} €</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    {% if transaction.status == "PROGNOSE" and transactionDetails.informations.prognose_info %}
    <p class="mt-2 text-start">{{ transactionDetails.informations.prognose_info }}</p>
    {% endif %}
    {% if transaction.status == "FINAL" and transacitonDetails.informations.final_info %}
    <p class="mt-2 text-start">{{ transactionDetails.informations.final_info }}</p>
    {% else %}
    
    {% endif %}
    <a class="btn btn-outline-primary" href="/transactions/{{transaction.uuid}}/change-status/">{% trans "Change status" %}</a>
    <a class="btn btn-outline-secondary" href="/transactions/{{transaction.uuid}}/print/">{% trans "Print" %}</a>

    

</div>
{% endblock %}
