{% extends 'base.html' %}
{% load i18n %}
{% block title %}Transaction List{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="container">
        {# TODO: this button should be on the left side #}
        <div class="row d-inline-flex justify-content-left text-start">
          <button
            class="btn btn-sm btn-outline-danger mb-4"
            onclick="history.back()"
          >
            Go back
          </button>
        </div>
        <div class="row text-left">{{ transaction.transactionClient.clientCompanyName }}</div>
        <div class="row text-left">{{ transaction.transactionClient.clientStreet }}</div>
        <div class="row text-left">{{ transaction.transactionClient.clientCode }} {{ transaction.transactionClient.clientCity }}</div>
        <div class="row text-left">{{ transaction.transactionClient.clientCountry }}</div>
        <div class="row text-right">{% trans "Status" %}: {% if transaction.status %}{{ transaction.status }} {{ transaction.status_time|date:"d-m-Y H:i" }}{% else %}{% trans "no status" %}{% now "d-m-Y H:i" %}{% endif %}</div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th scope="col">{% trans "SKU" %}</th>
            <th scope="col">{% trans "Product" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            <th scope="col">{% trans "Price" %}</th>
            <th scope="col">{% trans "Total" %}</th>
            <th scope="col">{% trans "Comment" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if transaction.transactionItemsOrdered %}
            {% for item in transaction.transactionItemsOrdered %}
            <tr>
                <td><img src="/images/{{ item.itemOrderedSku }}.M.jpg"></td>
                <td>{{ item.itemOrderedSku }}</td>
                <td>{{ item.itemOrderedName }}</td>
                <td>{{ item.itemOrderedAmount }}</td>
                <td>{{ item.itemOrderedPrice }}</td>
                <td>{{ item.total }}</td>
                {% if item.itemOrderedAdditionalInfo %}
                    <td>{{ item.itemOrderedAdditionalInfo }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    <a class="btn btn-outline-secondary" href="/transactions/admin/{{transaction.uuid}}/{{item.itemOrderedSku}}/edit/">Edit</a>
                    <a class="btn btn-outline-danger" href="/transactions/admin/{{transaction.uuid}}/{{item.itemOrderedSku}}/delete/">Delete</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
                <div class="alert alert-danger">
                    {% trans "No items in the transaction" %}
                </div>
        {% endif %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="fw-bold">{{ transaction.totals.mass }}</td>
                <td class="fw-bold">{{ transaction.totals.price }}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-primary" href="/transactions/{{transaction.uuid}}/change-status/">Change status</a>
    <a class="btn btn-outline-secondary" href="/transactions/{{transaction.uuid}}/print/">Print</a>

    

</div>
{% endblock %}
