{% extends 'base.html' %}
{% load i18n %}
{% block title %}Transaction List{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1 class="text-center">{% trans 'Transaction list' %}</h1>
        <div class="d-flex justify-content-start">
            <button class="btn btn-outline-danger mb-4 mt-3" onclick="history.back()">Go back</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th scope="col">{% trans "Company name" %}</th>
                    <th scope="col">{% trans "Transaction last change" %}</th>
                    <th scope="col">{% trans "Transaction status" %}</th>
                    <th scope="col">{% trans "Total" %}</th>
                    <th scope="col">{% trans "Actions" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr onclick="window.location.href='{% if session.logged_user.user %}/transactions/{% else %}/transactions/admin/{% endif %}{{ transaction.uuid }}/';">
                    <td>{{ transaction.client.clientCompanyName }}</td>
                    <td>{{ transaction.status_time|date:"d-m-Y H:i" }}</td>
                    <td>{{ transaction.status }}</td>
                    <td class="text-end">{{ transaction.totals.price }} €</td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" onclick="event.stopPropagation(); return confirm('{% trans "Are you sure you want to delete this transaction?" %}');" href="/transactions/delete/{{transaction.uuid}}/">{% trans "Delete" %}</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
