{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Transaction Detail" %}
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="d-flex justify-content-start">
            <button class="btn btn-outline-danger mb-4 mt-3" onclick="history.back()">Go back</button>
        </div>
        <div class="text-end mb-2 text-muted" style="font-size: 0.9rem;">
            <div class="clearfix"></div>
            <div class="row text-start">{{ transaction.client.clientCompanyName }}</div>
            <div class="row text-start">{{ transaction.client.clientStreet }}</div>
            <div class="row text-start">{{ transaction.client.clientCode }} {{ transaction.client.clientCity }}</div>
            <div class="row text-start">{{ transaction.client.clientCountry }}</div>
            <div class="row text-start">
                <b class="text-start p-0">{% trans "Status" %}:</b> {{ transaction.status }}
            </div>
            <div class="row"></div>
        </div>
        <div>
            <form method="post" id="edit-form">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped align-middle text-center">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{% trans "SKU" %}</th>
                                <th>{% trans "Acc. No." %}</th>
                                <th class="text-start">{% trans "Name" %}</th>
                                <th class="text-center">{% trans "Amount" %}</th>
                                <th class="text-center">{% trans "Alku" %}</th>
                                <th scope="col">{% trans "Comment" %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in transaction.itemsOrdered %}
                                    <tr id="{{ item.uuid }}">
                                        <td id="img-field">
                                            {% if item.sku|slice:":2" != "NA" %}
                                                <img style="width: 80px;
                                                            height: auto;
                                                            vertical-align: middle"
                                                     src="/images/{{ item.sku }}.M.jpg">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ item.sku }}
                                        </td>
                                        <td>
                                            {{ item.accountingNumber }}
                                        </td>
                                        <td class="text-start">
                                            {{ item.name }}
                                        </td>
                                        <td>
                                            {{ item.amount }}
                                        </td>
                                            <td>
                                                    <div class="input-group">
                                                        <input name="alku-{{ item.uuid }}"
                                                               id="alku-{{ item.uuid }}"
                                                               class="form-control w-amount"
                                                               min="0.0"
                                                               max="99999.9"
                                                               step="0.01"
                                                               type="number"
                                                               step="0.01"
                                                               value="{{ item.alku }}"
                                                               lang="en"
                                                               onchange="calculateTotal('{{ item.uuid }}')" />
                                                        <span class="input-group-text">kg</span>
                                                    </div>
                                            </td>
                                            <td>
                                                {{ item.additionalInfo }}
                                            </td>
                                            <td>
                                            <a href="/transactions/{{ transaction.uuid }}/{{ item.uuid }}/add-photo/"
                                                class="btn btn-sm btn-outline-secondary">{% trans "Photos" %}: {{ item.photos_no }}</a>
                                            </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="fw-bold" style="white-space: nowrap;">
                                        <span class="" id="totalAmount"></span> kg
                                    </td>
                                    <td class="fw-bold" style="white-space: nowrap;">
                                        <span class="" id="totalAlku"></span> kg
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <p class="mb-3" id="description" >{{ transaction.description }}</p>
                    <div class="text-end mt-3">
                        <a class="btn btn-outline-secondary"
                           href="/files/{{ transaction.uuid }}/">{% trans "Files" %}</a>
                        <a class="btn btn-outline-secondary"
                           href="/transactions/{{ transaction.uuid }}/print/"
                           target="_blank">{% trans "Print" %}</a>
                        <input id="saveButton"
                               class="btn btn-outline-success"
                               style="display: none"
                               type="submit"
                               value="{% trans "Save changes" %}">
                    </div>
                </form>
            </div>
        </div>
        <script>
        let uuids = [{% for item in transaction.itemsOrdered %}"{{ item.uuid }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
        let skus = [{% for item in transaction.itemsOrdered %}"{{ item.sku }}"{% if not forloop.last %}, {% endif %}{% endfor %}];

        function showSuccessAlert() {
            successAlert.style.display = "block";
            setTimeout(() => {
                successAlert.style.display = "none";
            }, 3000);
        }
        const successAlert = document.getElementById("successAlert");

        const form = document.getElementById("edit-form");
        const saveButton = document.getElementById("saveButton");

        form.addEventListener("submit", function (event) {
            const submitButton = document.activeElement;
            if (submitButton && submitButton.type === "submit") {
                if (!confirm("{% trans "Are you sure you want to save changes?" %}")) {
                    event.preventDefault();
                }
            }
        });

        function calculateTotal(uuidChanged) {
            let allTotalPrice = 0.0, allTotalAmount = 0.0, allTotalAlku = 0.0;
            let amount = parseFloat(document.getElementById(`amount-${uuidChanged}`).value) || 0;
            let alku = parseFloat(document.getElementById(`alku-${uuidChanged}`).value) || 0;

            uuids.forEach(uuid => {
                let amount = parseFloat(document.getElementById(`amount-${uuid}`).value) || 0;
                let alku = parseFloat(document.getElementById(`alku-${uuid}`).value) || 0;
                allTotalAlku += alku;
                allTotalAmount += amount;
            });

            document.getElementById(`totalAmount`).textContent = allTotalAmount.toFixed(1);
            document.getElementById(`totalAlku`).textContent = allTotalAlku.toFixed(1);
        }
        window.onload = () => uuids.forEach(uuid => calculateTotal(uuid));
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('input, select, textarea').forEach(el => {
                el.addEventListener('change', () => {
                    saveButton.style.display = "inline-block";
                });
            });
        });
        </script>
    {% endblock %}
