{% extends 'base.html' %} {% block title %}Activate user{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">Login</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">{{ email }}</div>
            <div class="form-group mb-3">
                <label for="group">Group:</label>
                <select name="group" id="group" class="form-select mb-2">
                {% if user_group %}
                    <option value="{{ user_group }}" selected>{{ user_group }}</option>
                {% endif %}
                {% if user_group != "UNASSIGNED" %}
                        <option value="UNASSIGNED">UNASSIGNED</option>
                {% endif %}
                {% for group in groups %}
                    {% if group != user_group %}
                        <option value="{{ group }}">{{ group }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-outline-primary">Activate</button>
                </div>
              </form>
            </div>
          </form>
          {% if error %}
          <div class="alert alert-danger mt-3">{{ error }}</div>
          {% endif %} {% if msg %}
          <div class="alert alert-success mt-3">{{ msg }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
