{% extends 'base.html' %}
{% block title %}Add Item{% endblock %}
{% load i18n %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center flex-column mb-5">
        <h1>{% trans "Add Item" %}</h1>
        {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
        {% endif %}
        <form method="post" class="w-50">
            {% csrf_token %}
            <div class="my-3">
                <label for="itemSku" class="form-label h5">SKU</label>
                <input
                        type="text"
                        class="form-control"
                        id="itemSku"
                        name="itemSku"
                        value=""
                />
            </div>
            <div class="mb-3">
                <label for="itemGroup" class="form-label h5">Group</label>
                <select name="itemGroup" id="itemGroup" class="form-select">
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3"><h5>Prices:</h5></div>
            <div class="row mb-3">
                <div class="col">
                    <label for="itemPrice-1" class="form-label">Price 1</label>
                    <input
                            type="number"
                            step="0.01"
                            class="form-control separator-input"
                            id="itemPrice-1"
                            name="itemPrice-1"
                            value="{{ item.itemPrice.0 }}"
                    />
                </div>
                <div class="col">
                    <label for="itemPrice-2" class="form-label">Price 2</label>
                    <input
                            type="number"
                            step="0.01"
                            class="form-control separator-input"
                            id="itemPrice-2"
                            name="itemPrice-2"
                            value="{{ item.itemPrice.1 }}"
                    />
                </div>
                <div class="col">
                    <label for="itemPrice-3" class="form-label">Price 3</label>
                    <input
                            type="number"
                            step="0.01"
                            class="form-control separator-input"
                            id="itemPrice-3"
                            name="itemPrice-3"
                            value="{{ item.itemPrice.2 }}"
                    />
                </div>
                <div class="col">
                    <label for="itemPrice-4" class="form-label">Price 4</label>
                    <input
                            type="number"
                            step="0.01"
                            class="form-control separator-input"
                            id="itemPrice-4"
                            name="itemPrice-4"
                            value="{{ item.itemPrice.3 }}"
                    />
                </div>
            </div>
            <div class="mb-3"><h5>Name:</h5></div>
            <div class="mb-3">
                <label for="EN-n" class="form-label">EN</label>
                <input
                        type="text"
                        class="form-control"
                        id="EN-n"
                        name="EN-n"
                        value=""
                />
            </div>
            <div class="mb-3">
                <label for="DE-n" class="form-label">DE</label>
                <input
                        type="text"
                        class="form-control"
                        id="DE-n"
                        name="DE-n"
                        value=""
                />
            </div>
            <div class="mb-3">
                <label for="IT-n" class="form-label">IT</label>
                <input
                        type="text"
                        class="form-control"
                        id="IT-n"
                        name="IT-n"
                        value=""
                />
            </div>
            <div class="mb-3">
                <label for="FR-n" class="form-label">FR</label>
                <input
                        type="text"
                        class="form-control"
                        id="FR-n"
                        name="FR-n"
                        value=""
                />
            </div>
            <div class="mb-3">
                <label for="PL-n" class="form-label">PL</label>
                <input
                        type="text"
                        class="form-control"
                        id="PL-n"
                        name="PL-n"
                        value=""
                />
            </div>
            <div class="mb-3"><h5>Description:</h5></div>
            <div class="mb-3">
                <label for="EN-d" class="form-label">EN</label>
                <textarea
                        class="form-control"
                        id="EN-d"
                        name="EN-d"
                        rows="3">{{ item.itemDescription.EN }}</textarea>
            </div>
            <div class="mb-3">
                <label for="DE-d" class="form-label">DE</label>
                <textarea
                        class="form-control"
                        id="DE-d"
                        name="DE-d"
                        rows="3">{{ item.itemDescription.DE }}</textarea>
            </div>
            <div class="mb-3">
                <label for="IT-d" class="form-label">IT</label>
                <textarea
                        class="form-control"
                        id="IT-d"
                        name="IT-d"
                        rows="3">{{ item.itemDescription.IT }}</textarea>
            </div>
            <div class="mb-3">
                <label for="FR-d" class="form-label">FR</label>
                <textarea
                        class="form-control"
                        id="FR-d"
                        name="FR-d"
                        rows="3">{{ item.itemDescription.FR }}</textarea>
            </div>
            <div class="mb-3">
                <label for="PL-d" class="form-label">PL</label>
                <textarea
                        class="form-control"
                        id="PL-d"
                        name="PL-d"
                        rows="3">{{ item.itemDescription.PL }}</textarea>
            </div>
            <div class="d-flex mt-2">
                <a class="btn btn-outline-secondary" href="/admin/items">Back to List</a>
                <button class="btn btn-success ms-2">Add Image and Save Item</button>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const price1 = document.getElementById('itemPrice-1');
            const price2 = document.getElementById('itemPrice-2');
            const price3 = document.getElementById('itemPrice-3');
            const price4 = document.getElementById('itemPrice-4');

            price1.addEventListener('input', function () {
                price2.value = price1.value;
                price3.value = price1.value;
                price4.value = price1.value;
            });
        });
    </script>
{% endblock %}

