{% extends 'base.html' %} {% block title %}Admin Dashboard{% endblock %}
{% block content %}
    <nav class="nav nav-tabs">
        <a class="nav-link" href="/admin/items">Items</a>
        <a class="nav-link" href="/admin/admins">Admins</a>
	    <a class="nav-link" href="/admin/new-clients">New clients</a>
        <a class="nav-link" href="/admin/clients/">Clients</a>
        <a class="nav-link" href="/admin/my-users">My Clients</a>
        <a class="nav-link" href="/transactions/admin/">Transactions</a>
    </nav>
{% endblock %}
