{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Edit image" %}
{% endblock %}
{% block content %}
<h2>{% trans "Image Gallery" %} - {{ item_sku }}</h2>
    <div class="container mt-5">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="image" class="form-label">{% trans 'Choose an image to upload:' %}</label>
                <input
                        type="file"
                        class="form-control w-75"
                        id="image"
                        name="image"
                        accept="image/*"
                />
            </div>
            <a class="btn btn-primary" href="/admin/items/{{ item_sku }}/edit">{% blocktrans %}Back to Edit{% endblocktrans %}</a>
            <button type="submit" class="btn btn-primary">{% trans "Upload" %}</button>
        </form>
        <div class="gallery" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
            {% for image in images %}
                <div class="image-container" style="text-align: center;">
                    <img src="{{ image }}" alt="Image" style="width: 100%; max-width: 300px; height: auto;"/>
                    <br>
                    <a class="btn btn-danger mt-1" href="/admin/items/delete{{ image }}"
                        onclick="return confirm('Are you sure you want to delete this item?');">{% trans "Delete image" %}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
