{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Client Details" %}
{% endblock %}
{% block content %}
    <h2>{% trans "Client Details" %}</h2>
    {% if client %}
        <dl class="row my-3">
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{ client.user.userEmail }}</dd>
            <dt class="col-sm-3">{% trans "Telephone number" %}</dt>
            <dd class="col-sm-9">{{ client.user.userTelephoneNumber }}</dd>
            <dt class="col-sm-3">{% trans "Company Name" %}</dt>
            <dd class="col-sm-9">{{ client.clientCompanyName }}</dd>
            <dt class="col-sm-3">{% trans "Street" %}</dt>
            <dd class="col-sm-9">{{ client.clientStreet }}</dd>
            <dt class="col-sm-3">{% trans "Code" %}</dt>
            <dd class="col-sm-9">{{ client.clientCode }}</dd>
            <dt class="col-sm-3">{% trans "City" %}</dt>
            <dd class="col-sm-9">{{ client.clientCity }}</dd>
            <dt class="col-sm-3">{% trans "Country" %}</dt>
            <dd class="col-sm-9">{{ client.clientCountry }}</dd>
            {% if isOwner %}
            <dt class="col-sm-3">{% trans "Trader" %}</dt>
            <dd class="col-sm-9">{{ client.clientAdmin.userLastName }}</dd>
            {% endif %}
            <dt class="col-sm-3">{% trans "Client's Transactions" %}</dt>
            <dd class="col-sm-9"><a href="/transactions/admin/client/{{ client.id }}/" class="btn btn-secondary">{% trans "Transactions" %}</a></dd>
            <!-- <dt class="col-sm-3">{% trans "Reset client's password" %}</dt> -->
            <!-- <dd class="col-sm-9"><a href="/transactions/admin/client/{{ client.id }}/" class="btn btn-secondary">{% trans "Transactions" %}</a></dd> -->
        </dl>
    {% elif error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <a class="btn btn-secondary" href="/admin/clients">{% trans "Back to Client List" %}</a>
    
{% endblock %}
