{% extends 'base.html' %} {% block title %}Item List{% endblock %}
{% load i18n %}
{% block content %}
    <form method="GET" class="container p-0">
        <div class="row w-50 align-items-center">
            <div class="col-12 col-sm-5 mb-2">
                <input
                        type="text"
                        class="form-control"
                        id="search"
                        name="search"
                        {# placeholder="{% trans "Search" %}..." #}
                        placeholder="Search..."
                />
            </div>
            <div class="col-12 col-sm-5 mb-2">
                {# <button class="btn btn-outline-secondary">{% trans "Search" %}</button> #}
                {# <a class="btn btn-outline-secondary" href="{% url "item_list" %}">{% trans "Clear" %}</a> #}
                <a class="btn btn-outline-secondary me-1" href="{% url "item_list" %}">Clear</a>
                <button class="btn btn-outline-secondary">Search</button>
            </div>
        </div>
    </form>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Image</th>
            <th>SKU</th>
            <th>Name</th>
            <th>Category</th>
            <th class="price">I</th>
            <th class="price">II</th>
            <th class="price">III</th>
            <th class="price">IV</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for category, items_list in items.items %}
            {% if items_list %}
                {# <tr><th></th><th colspan="7" class="fw-bold">{{ category }}</th></tr> #}
                {% for item in items_list %}
                    <!-- <tr onclick="window.location.href='/item/{{ item.itemSku }}';" style="cursor: pointer;"> -->
                    <tr>

                        {% if item.itemImgPath %}
                            <td><img src="{{ item.itemImgPath }}" alt="Item Image" class="img"
                                     style="width: 80px; height: auto"/></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ item.itemSku }}</td>
                        <td>{{ item.itemName.EN }}</td>
                        <td>{{ item.itemGroup }}</td>
                        {% for price in item.itemPrice %}
                            <td class="price">{{ price }} €</td>
                        {% endfor %}
                        <td>
                            <a class="btn btn-primary" href="/admin/items/{{ item.itemSku }}/edit">Edit</a>
                            <a class="btn btn-danger" href="/admin/items/{{ item.itemSku }}/delete"
                               onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <tr>
            <button class="btn btn-outline-danger mt-2 mx-2" onclick="history.back()">
                {% trans "Go back" %}
            </button>
            <a class="btn btn-primary mt-2" href="/admin/items/add">Add new</a>
        </tr>
        </tbody>
    </table>
{% endblock %}
