{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans "Item list" %}
{% endblock %}
{% block content %}
    <form method="GET" id="search" class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="{% trans "Search" %}...">
                    <button type="submit" class="btn btn-outline-secondary">
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-outline-secondary ms-1" href="/">{% trans "Clear" %}</a>
                </div>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table mt-4">
            <thead>
            <tr>
                <th>{% trans "Image" %}</th>
                <th>SKU</th>
                <th>{% trans "Acc.No." %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Category" %}</th>
                <th class="price">I</th>
                <th class="price d-none d-sm-table-cell">II</th>
                <th class="price d-none d-md-table-cell">III</th>
                <th class="price d-none d-lg-table-cell">IV</th>
                <th>{% trans "Actions" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for category, items_list in items.items %}
                {% if items_list %}
                    {% for item in items_list %}
                        <tr>
                            <td>
                                <img src="/images/{{ item.itemSku }}.M.jpg" alt="" class="img-fluid d-block mx-auto" style="max-width: 80px; height: auto"/>
                            </td>
                            <td>{{ item.itemSku }}</td>
                            <td>{% if item.itemAccountingNumber %}{{ item.itemAccountingNumber }}{% endif %}</td>
                            <td>{{ item.localized_name }}</td>
                            <td>{{ item.itemGroup }}</td>
                            {% for price in item.itemPrice %}
                                {% if forloop.counter == 1 %}
                                    <td class="price">{{ price }} €</td>
                                {% elif forloop.counter == 2 %}
                                    <td class="price d-none d-sm-table-cell">{{ price }} €</td>
                                {% elif forloop.counter == 3 %}
                                    <td class="price d-none d-md-table-cell">{{ price }} €</td>
                                {% elif forloop.counter == 4 %}
                                    <td class="price d-none d-lg-table-cell">{{ price }} €</td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                <div class="d-flex flex-column flex-sm-row gap-1">
                                    <a class="btn btn-primary btn-sm" href="/admin/items/{{ item.itemSku }}/edit">{% trans "Edit" %}</a>
                                    <a class="btn btn-danger btn-sm" href="/admin/items/{{ item.itemSku }}/delete"
                                       onclick="return confirm('{% trans 'Are you sure you want to delete this item?' %}');">
                                        {% trans "Delete" %}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <tr>
                <td colspan="9">
                    <a href="{% url 'admin_dashboard' %}" class="btn btn-outline-danger mt-2 mx-2">{% trans "Go back" %}</a>
                    <a class="btn btn-primary mt-2" href="/admin/items/add">{% trans "Add new" %}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
