{% extends 'base.html' %} {% block title %}Clients{% endblock %}
{% block content %}
{% load i18n %}
<h2>Clients</h2>
<button
  class="btn btn-sm btn-outline-danger float-start mb-4"
  onclick="history.back()"
>
  {% trans "Go back" %}
</button>
<table class="table table-hover table-striped text-center">
  <thead>
    <tr>
        <th>{% trans "Company name" %}</th>
        <th>{% trans "First Name" %}</th>
        <th>{% trans "Last Name" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr
      onclick="window.location.href='/admin/clients/{{ client.id }}';"
      style="cursor: pointer"
    >
      <td>{{ client.clientCompanyName }}</td>
      <td>{{ client.user.userFirstName }}</td>
      <td>{{ client.user.userLastName }}</td>
      <td>
                <a class="btn btn-outline-primary" href="/admin/clients/{{ client.id }}/{{ func }}">{% trans "Actions" %}</a>
                <a class="btn btn-primary" href="/admin/clients/{{ client.id }}/edit"
                >{% trans "Edit" %}</a
                >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
