{% extends 'base.html' %}
{% block title %}{{ header }}{% endblock %}
{% block content %}
{% load i18n %}
    <style>
        @media (max-width: 576px) {
            .table .btn {
                padding: 0.25rem 0.5rem;
                font-size: 0.875rem;
                display: block;
                width: 100%;
                margin-bottom: 0.5rem;
            }
        }
    </style>
    <h1 class="text-center">{{ header }}</h1>
    <div class="my-2 d-flex align-items-center">
        <a class="btn btn-outline-danger me-2" href="{% url 'admin_dashboard' %}">
            {% trans "Go back" %}
        </a>
        <a class="btn btn-primary me-3" href="/admin/clients/add">Add new</a>
        
        <form method="GET" class="mb-0">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="{% trans "Search" %}...">
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <table class="table table-hover table-striped text-center">
        <thead>
        <tr>
            <th class="text-start ps-5">{% trans "Company name" %}</th>
            <th>{% trans "First Name" %}</th>
            <th>{% trans "Last Name" %}</th>
            {% if func != "assign-admin" %}
                <th>{% trans "Group" %}</th>
            {% endif %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for client in page.content %}
            <tr onclick="window.location.href='/admin/clients/{{ client.user_id }}';" style="cursor: pointer">
                {% if func == "assign-admin" %}
                    <td class="text-start ps-5">{{ client.clientCompanyName }}</td>
                    <td>{{ client.user.userFirstName }}</td>
                    <td>{{ client.user.userLastName }}</td>
                    <td>{{ client.clientGroup }}</td>
                    <td class="pe-5">
                        <a class="btn btn-outline-primary" href="/admin/clients/{{ client.id }}/{{ func }}">
                            {% trans "Actions" %}
                        </a>
                        <a class="btn btn-primary" href="/admin/clients/{{ client.id }}/edit">
                            {% trans "Edit" %}
                        </a>
                        <a class="btn btn-danger" href="/admin/clients/{{ client.id }}/delete" onclick="return confirm('Are you sure you want to delete this client?');">
                            {% trans "Delete" %}</a>
                    </td>
                {% else %}
                    <td class="text-start ps-5"">{{ client.client_company_name }}</td>
                    <td>{{ client.user_first_name }}</td>
                    <td>{{ client.user_last_name }}</td>
                    <td>{{ client.auth_group }}</td>
                <td class="text-end pe-5">
                        <a class="btn btn-outline-primary" href="/admin/clients/{{ client.user_id }}/{{ func }}">
                            {% trans "Actions" %}
                        </a>
                        <a class="btn btn-primary" href="/admin/clients/{{ client.user_id }}/edit">
                            {% trans "Edit" %}
                        </a>
                        <a class="btn btn-danger" href="/admin/clients/{{ client.user_id }}/delete" onclick="return confirm('Are you sure you want to delete this client?');">
                            {% trans "Delete" %}</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% include "pagination.html" %}
{% endblock %}
