{% extends 'base.html' %} {% block title %}Clients{% endblock %}
{% block content %}
<h2>Clients</h2>
<table class="table">
  <thead>
    <tr>
      <th>Company name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ client.clientCompanyName }}</td>
      <td>{{ client.user.userFirstName }}</td>
      <td>{{ client.user.userLastName }}</td>
      <td>
                <a class="btn btn-outline-primary" href="/admin/clients/{{ client.id }}/{{ func }}">Actions</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
