{% extends 'base.html' %} {% block title %}Add Item{% endblock %}

<!-- <foo>bar</foo> -->
{% block content %}
<h2>Add Item</h2>
<form method="post">
  {% csrf_token %}
  <!-- TODO: think if some inputs could be smaller -->
  <div class="mb-3">
    <label for="itemSku" class="form-label">SKU</label>
    <input
      type="text"
      class="form-control"
      id="itemSku"
      name="itemSku"
      value=""
    />
  </div>
  <div class="mb-3">
    <label for="itemGroup" class="form-label">Group</label>
    <input
      type="text"
      class="form-control"
      id="itemGroup"
      name="itemGroup"
      value=""
    />
  </div>
  {% for index in range %}
  <div class="mb-3">
      <label for="itemPrice" class="form-label">Price {{ index }}</label>
    <input
      type="number"
      pattern="\d*\.\d\d}"
      class="form-control"
      id="itemPrice-{{ index }}"
      name="itemPrice-{{ index }}"
      value="{{ item.itemPrice.index }}"
    />
    <small class="form-text text-muted" ></small >
  </div>
    {% endfor %}
  <div class="mb-3"><p>Name:</p></div>
  <div class="mb-3">
    <label for="EN-n" class="form-label">EN</label>
    <input type="text" class="form-control" id="EN-n" name="EN-n" value="" />
  </div>
  <div class="mb-3">
    <label for="DE-n" class="form-label">DE</label>
    <input type="text" class="form-control" id="DE-n" name="DE-n" value="" />
  </div>
  <div class="mb-3">
    <label for="IT" -n class="form-label">IT</label>
    <input type="text" class="form-control" id="IT-n" name="IT-n" value="" />
  </div>
  <div class="mb-3">
    <label for="FR-n" class="form-label">FR</label>
    <input type="text" class="form-control" id="FR-n" name="FR-n" value="" />
  </div>
  <div class="mb-3">
    <label for="PL-n" class="form-label">PL</label>
    <input type="text" class="form-control" id="PL-n" name="PL-n" value="" />
  </div>
  <div class="mb-3"><p>Descripton:</p></div>
  <div class="mb-3">
    <label for="EN-d" class="form-label">EN</label>
    <input type="text" class="form-control" id="EN-d" name="EN-d" value="" />
  </div>
  <div class="mb-3">
    <label for="DE-d" class="form-label">DE</label>
    <input type="text" class="form-control" id="DE-d" name="DE-d" value="" />
  </div>
  <div class="mb-3">
    <label for="IT-d" class="form-label">IT</label>
    <input type="text" class="form-control" id="IT-d" name="IT-d" value="" />
  </div>
  <div class="mb-3">
    <label for="FR-d" class="form-label">FR</label>
    <input type="text" class="form-control" id="FR-d" name="FR-d" value="" />
  </div>
  <div class="mb-3">
    <label for="PL-d" class="form-label">PL</label>
    <input type="text" class="form-control" id="PL-d" name="PL-d" value="" />
  </div>
  <button class="btn btn-success">Add Image and Save Item</button>
</form>
<br/>
<a class="btn btn-secondary" href="/admin/items">Back to List</a>
{% endblock %}
