{% extends 'base.html' %}
{% load i18n %} {% block title %}Change Password{% endblock %} 
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-center">{% trans "Change password" %}</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
              <h5>{{ form.password.label_tag }}</h5>
              {{ form.password }}
            </div>

            <div class="form-group mb-3">
              <h5>{{ form.confirmPassword.label_tag }}</h5>
              {{ form.confirmPassword }}
            </div>

            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mx-2" href="{% url 'profile' %}">{% trans 'Back' %}</a>
              <button class="btn btn-outline-primary mx-2">{% trans "Change password" %}</button>
            </div>
          </form>
          {% if error %}
          <div class="alert alert-danger mt-3">{{ error }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
