{% load static %}
{% load i18n %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-2" href="/">
            <img src="/images/alku-logo-2013-10-17.jpg" alt="ALKU-GMBH" class="img-fluid"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-2">
                <form action="{% url 'set_language' %}" method="post" class="text-center sm-w-50">
                    {% csrf_token %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{% trans "Choose language" %}</a>
                        <ul class="dropdown-menu">
                            <li><button type="submit" name="language" value="en" class="dropdown-item">English</button></li>
                            <li><button type="submit" name="language" value="pl" class="dropdown-item">Polski</button></li>
                        </ul>
                    </div>
                    <input name="next" type="hidden" value="{{ request.path }}">
                </form>

                {% if request.session.token %}
                    <li class="nav-item my-1 mx-3">
                        <a class="btn btn-danger" href="{% url 'offer' %}">
                            {% if request.session.logged_user.user %}
                                {% trans "Proposition" %}
                            {% else %}
                                {% trans "Offer" %}
                            {% endif %}
                        </a>
                    </li>

                    <li class="nav-item dropdown ms-4">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown">
                            <img src="{% static 'media/user-icon.png' %}" alt="User" class="rounded-circle" width="30" height="30">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if not request.session.logged_user.user %}
                                <li><a class="dropdown-item" href="/admin/dashboard/">{% trans "Admin Dashboard" %}</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="/transactions/">{% trans "My Transactions" %}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/">{% trans "Price List" %}</a></li>
                            <li><a class="dropdown-item" href="/profile/">{% trans "Profile" %}</a></li>
                            <li><a class="dropdown-item" href="/change_password/">{% trans "Change Password" %}</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="/logout">{% trans "Logout" %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}