{% load static %}
{% load i18n %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: white">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="/">
                <img src="/images/alku-logo-2013-10-17.jpg" alt="ALKU-GMBH" class="img"/>
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto me-2">
                    {% load i18n %}
                    <form action="{% url 'set_language' %}" method="post" class="text-center me-4">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.path }}">
                        <button type="submit" name="language" value="en" class="btn btn-outline-primary">English
                        </button>
                        <button type="submit" name="language" value="pl" class="btn btn-outline-primary">Polski</button>
                    </form>
                    {% if request.session.token %}
                        {#                    <li class="nav-item">#}
                        {#                        <a class="nav-link" href="{% url 'client_dashboard' %}">Client dashboard</a>#}
                        {#                    </li>#}
                        {% if not session.logged_user.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/dashboard/">Admin Dashboard</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/profile/">{{ request.session.logged_user.userEmail }}</a>
                            </li>
                        {% else %}
                        <li>
                            <a class="nav-link" href="/profile/">{{ request.session.logged_user.clientCompanyName }}</a>
                            <a class="nav-link" href="/profile/">{{ request.session.logged_user.user.userEmail }}</a>
                        </li>
                        {% endif %}
                        <li class="nav-item ms-3">
                            <a class="btn btn-outline-secondary" href="/logout">{% trans "Logout" %}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
