{% extends 'base.html' %}
{% block title %}Price List{% endblock %}

{% block content %}
<!-- TODO: cleanup align-middles ;< -->
    <table class="table table-bordered table-striped mt-2 align-middle" style="font-family: Calibri, sans-serif">
    <tbody>
        {% for category, item_list in items.items %}
        {% if item_list %}
        <tr>
            <th colspan="5" class="text-left fs-4 py-2 ps-5 text-light fw-semibold text-uppercase align-middle" style="background-color: #9E0F06">{{ category }}</th>
        </tr>
            {% for item in item_list %}
                <tr class="colored-row d-flex align-middle" onclick="window.location.href='/{{ item.sku }}';" style="cursor: pointer; font-size: 19px">
                    {% if item.path %}
                        <td class="text-center px-0 flex-shrink-0 align-items-middle" style="width: 100px;"><img src="{{ item.path }}" alt="Item Image" class="img" style="width: 80px; height: auto"/></td>
                    {% else %}
                        <td class="flex-shrink-0 align-items-middle" style="width: 100px;"></td>
                    {% endif %}
                    <td class="text-center flex-shrink-0 align-items-middle" style="font-size: 17px">{{ item.sku }}</td>
                    <td class="flex-fill align-items-middle" style="font-size: 17px">{{ item.name }}</td>
                    <td class="text-end fw-semibold flex-shrink-0 align-items-middle" style="font-size: 20px; width: 120px">{{ item.price }} €</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
