{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Profile" %}{% endblock %}
{% block content %}
    <div class="container d-flex justify-content-center mb-4">
        <div class="w-50">
            <h2 class="text-center">{% trans "Profile" %}</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="userFirstName" class="form-label h5">{% trans "First Name" %}</label>
                    <input
                            type="text"
                            class="form-control"
                            id="userFirstName"
                            name="userFirstName"
                            value="{{ initial.userFirstName }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="userLastName" class="form-label h5">{% trans "Last Name" %}</label>
                    <input
                            type="text"
                            class="form-control"
                            id="userLastName"
                            name="userLastName"
                            value="{{ initial.userLastName }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="userEmail" class="form-label h5">{% trans "Email" %}</label>
                    <input
                            type="text"
                            class="form-control"
                            id="userEmail"
                            name="userEmail"
                            value="{{ initial.userEmail }}"
                    />
                </div>
                <div class="mb-3">
                    <label for="userTelephoneNumber" class="form-label h5">{% trans "Telephone number" %}</label>
                    <input
                            type="text"
                            class="form-control"
                            id="userTelephoneNumber"
                            name="userTelephoneNumber"
                            value="{{ initial.userTelephoneNumber }}"
                    />
                </div>
                {% if request.session.logged_user.user %}
                    <div class="mb-3">
                        <label for="clientCompanyName" class="form-label h5">{% trans "Company Name" %}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="clientCompanyName"
                                name="clientCompanyName"
                                value="{{ initial.clientCompanyName }}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="clientStreet" class="form-label h5">{% trans "Street" %}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="clientStreet"
                                name="clientStreet"
                                value="{{ initial.clientStreet }}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="clientCode" class="form-label h5">{% trans "Code" %}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="clientCode"
                                name="clientCode"
                                value="{{ initial.clientCode }}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="clientCity" class="form-label h5">{% trans "City" %}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="clientCity"
                                name="clientCity"
                                value="{{ initial.clientCity }}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="clientCountry" class="form-label h5">{% trans "Country" %}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="clientCountry"
                                name="clientCountry"
                                value="{{ initial.clientCountry }}"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="clientBankNumber" class="form-label h5">{%  trans "Bank Number" %}</label>
                        <input
                                type="text"
                                class="form-control"
                                id="clientBankNumber"
                                name="clientBankNumber"
                                value="{{ initial.clientBankNumber }}"
                        />
                    </div>
                    {% endif %}
                <div class="d-flex justify-content-center">
                    <a class="btn btn-secondary mx-2" href="{% url 'change_password' %}">{% trans "Change password" %}</a>
                    <button class="btn btn-outline-primary mx-2">{% trans "Save changes" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
