{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center">{% trans "Reset password" %}</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <h5>{% trans "Email" %}</h5>
                            <input name="email" type="email" class="form-control" placeholder="{% trans "Enter your email" %}" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'login' %}" class="btn btn-secondary me-3">{% trans "Back" %}</a>
                            <input type="submit" class="btn btn-outline-primary" value="{% trans "Reset password" %}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
